/** 
	* Filename:     global.css
	* Version:      1.0.0 (20 Sep 2019)
	* Website:      https://www.zymphonies.com
	* Description:  Global styles
	* Author:		Zymphonies Team
					info@zymphonies.com
**/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.messages {
  background: no-repeat 10px 17px;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  padding: 10px 20px 10px 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 5px 0px; }

.messages + .messages {
  margin-top: 1.538em; }

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.messages__item + .messages__item {
  margin-top: 0.769em; }

.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  box-shadow: -8px 0 0 #77b259; }

.messages--warning {
  background-color: #fdf8ed;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  color: #734c00;
  box-shadow: -8px 0 0 #e09600; }

.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600; }

.messages--error p.error {
  color: #a51b00; }

form .field-multiple-table {
  margin: 0; }

form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0; }

form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: .5em; }

form .field-add-more-submit {
  margin: .5em 0 0; }

div.tabs {
  margin: 1em 0; }

ul.tabs {
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0; }

.tabs > li {
  display: inline-block;
  margin-right: 0.3em; }

.tabs a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 13px;
  background: #e6e6e6;
  line-height: 100%;
  color: #444; }

.tabs a.is-active {
  background-color: #64b448;
  color: #fff; }

.tabs a:focus,
.tabs a:hover {
  background-color: #449128;
  color: #fff; }

table {
  width: 100%;
  margin: 0 0 10px; }

caption {
  text-align: left; }

th {
  text-align: left;
  padding: 10px 12px; }

thead th {
  background: #f5f5f2;
  border: solid #bfbfba;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase; }

tr {
  border-bottom: 1px solid #e6e4df;
  padding: 0.1em 0.6em; }

thead > tr {
  border-bottom: 1px solid #000; }

tbody tr:hover,
tbody tr:focus {
  background: #f7fcff; }

tbody tr.color-warning:hover,
tbody tr.color-warning:focus {
  background: #fdf8ed; }

tbody tr.color-error:hover,
tbody tr.color-error:focus {
  background: #fcf4f2; }

td,
th {
  vertical-align: middle; }

td {
  padding: 10px 12px;
  text-align: left; }

th > a {
  position: relative;
  display: block; }

th > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: -10px;
  left: 0;
  right: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

th.is-active > a {
  color: #004875; }

th.is-active img {
  position: absolute;
  right: 0;
  top: 50%; }

th.is-active > a:after {
  border-bottom-color: #004875; }

th > a:hover,
th > a:focus,
th.is-active > a:hover,
th.is-active > a:focus {
  color: #008ee6;
  text-decoration: none; }

th > a:hover:after,
th > a:focus:after,
th.is-active > a:hover:after,
th.is-active > a:focus:after {
  border-bottom-color: #008ee6; }

td .item-list ul {
  margin: 0; }

td.is-active {
  background: none; }

th.select-all {
  width: 1px; }

.caption {
  margin-bottom: 1.2em; }

@media screen and (max-width: 37.5em) {
  /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none; } }
@media screen and (max-width: 60em) {
  /* 920px */
  th.priority-low,
  td.priority-low {
    display: none; } }
p {
  margin: 0 0 20px 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 10px 0;
  line-height: 120%; }

h1, .h1 {
  font-size: 2em; }

h2, .h2 {
  font-size: 1.5em; }

h3, .h3 {
  font-size: 1.2em; }

h4, .h4 {
  font-size: 1.1em; }

img {
  max-width: 100%; }

em {
  font-style: italic; }

strong, b {
  font-weight: 500; }

h2.title {
  color: #000; }

.custom-block-title {
  text-align: center;
  margin: 20px 0; }
  .custom-block-title h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 5px;
    font-weight: bold; }

a {
  color: #64b448; }
  a:hover {
    color: #449128;
    text-decoration: none; }

ol, ul {
  padding-left: 20px;
  margin-bottom: 20px; }
  ol li, ul li {
    list-style: outside; }

.list-unstyled li {
  list-style: none; }

ol li {
  list-style-type: decimal; }

ul.links.inline {
  padding: 0; }
  ul.links.inline li {
    list-style: none; }

.form-email,
.form-text,
.form-textarea {
  border: 1px solid #e8e8e8;
  background: transparent; }

.block {
  margin-bottom: 10px; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #4a4a4a;
  overflow-x: hidden;
  font-weight: 400;
  background: #f1f1f1;
  background-size: 100%;
  text-align: left; }

.main-container {
  background: #fff;
  margin: 0 auto; }
  .main-container .left-wrapper {
    width: 300px;
    background: #404347;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    left: -300px; }
  .main-container .content-wrapper {
    padding-left: 0;
    width: 100%;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .main-container .lhs-bottom-container {
    padding: 10px 20px;
    bottom: 0; }
  .main-container .content-container {
    padding: 0 20px; }

.footerwidget {
  background: #108441;
  color: #86b59a;
  padding: 20px 0;
  border-top: 1px solid #f7f7f7; }
  .footerwidget h2.title {
    color: #fff; }
  .footerwidget .left {
    float: left;
    margin: 10px 10px 0 0; }

.copyright {
  color: #eee;
  padding: 15px 0;
  text-align: center;
  background: #222; }

.map-and-address h2.title {
  display: none; }

.footer-menu {
  margin: 0;
  border: 0;
  background: url('../images/social-media-bg.png');
  color: #fff;
  background-size: cover;
  padding: 80px 0; }

.social-media {
  margin: 10px 0; }
  .social-media a {
    line-height: 100%;
    font-size: 1em;
    display: inline-block;
    padding: 7px 0;
    background: #64b448;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center; }
    .social-media a:hover {
      background: #449128; }

input, button, select, textarea {
  padding: 6px;
  border: 1px solid #e3e3e3; }

.contact-message-form label {
  display: block; }

.btn,
.node-readmore a,
.flexslider .more-link,
input[type="submit"] {
  border: 0;
  cursor: pointer;
  color: #000;
  padding: 10px 16px;
  line-height: 100%;
  margin-right: 2px;
  display: inline-block;
  background: #ddd;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.btn:hover,
.node-readmore a:hover,
.flexslider .more-link:hover,
input[type="submit"]:hover {
  background: #449128;
  color: #fff; }

.comment-wrap {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5; }
  .comment-wrap .author-details {
    float: left;
    width: 20%; }
  .comment-wrap .author-comments {
    padding-left: 5px;
    float: left;
    width: 80%; }
    .comment-wrap .author-comments h3 {
      margin-top: 10px; }
    .comment-wrap .author-comments p {
      margin-bottom: 10px; }

.comment-submitted {
  padding: 5px 10px;
  border: 1px solid #eee;
  display: inline-block;
  line-height: 100%; }

ul.links.inline li {
  display: inline-block;
  padding-right: 10px; }

.sidebar {
  background: #fff; }
  .sidebar .region h2.title {
    padding: 5px 0;
    margin: 0; }

.region-content {
  min-height: 300px; }

.path-frontpage .region-content {
  min-height: auto; }

.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em; }

tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0; }

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 0.70em;
  line-height: 150%; }

label.option {
  display: inline;
  font-weight: normal; }

.form-composite > legend,
.label {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em; }

.marker {
  color: #e00; }

abbr.tabledrag-changed,
abbr.ajax-changed {
  border-bottom: none; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.owl-theme .owl-dots .owl-dot span {
  background: #b5b5b5;
  height: 7px;
  width: 7px; }

.clients,
.bottom-widget {
  background: #fff; }

.path-frontpage .feed-icon {
  display: none; }

.features {
  padding: 15px; }
  .features .region {
    padding: 20px; }
  .features .col-sm {
    background: #57a2d6; }
    .features .col-sm * {
      color: #fff; }
    .features .col-sm p {
      margin: 0; }
    .features .col-sm:nth-child(2) {
      background: #50617d; }
    .features .col-sm:nth-child(2) {
      background: #69c0af; }

.clients .region ul li {
  display: inline-block;
  text-align: center; }
  .clients .region ul li img {
    max-width: 200px; }

.services-list {
  text-align: center; }
  .services-list .block {
    -moz-box-shadow: 0px 0px 3px 0px #ddd;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    padding-bottom: 20px; }

.testimonials-wrap {
  background: #fafafa;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  padding: 20px 0;
  text-align: center;
  font-size: 1em;
  line-height: 160%; }

.region-testimonials {
  max-width: 600px;
  margin: 0 auto; }

.testimonials-pic {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px; }

.testimonials-pic img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.testimonials-author {
  padding: 0 5px;
  font-size: .75em;
  color: #555; }

.price-table .card-header,
.bottom-widget .card-header {
  border: 0;
  padding: 20px; }
.price-table ul li,
.bottom-widget ul li {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.team .team-list .region {
  background: #efefef;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #eaeaea; }

.top-nav {
  position: relative;
  padding: 15px 10px;
  background: #eee; }
  .top-nav .block, .top-nav p {
    margin: 0; }

.top-nav-right {
  float: right; }

.main-header nav {
  border: 0;
  margin: 0;
  position: relative;
  min-height: auto;
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
.main-header .region {
  position: relative;
  padding: 25px 0; }
.main-header .block {
  margin: 0; }
.main-header p, .main-header .block {
  margin: 0; }

.site-branding {
  margin: 0; }

.region-header {
  padding: 14px 15px;
  background: #4a4d50; }
  .region-header .brand {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em; }
    .region-header .brand a {
      color: #fff;
      display: block;
      font-weight: 400; }
      .region-header .brand a img {
        vertical-align: middle; }
    .region-header .brand .site-branding__slogan {
      font-size: .5em;
      text-transform: uppercase;
      vertical-align: top; }

.search-block-form {
  margin: 0 auto; }

.region-search {
  width: 400px;
  display: inline-block;
  vertical-align: top; }

#search-block-form {
  display: table;
  width: 100%; }
  #search-block-form .form-item,
  #search-block-form .form-actions {
    display: table-cell;
    vertical-align: top; }
  #search-block-form .form-actions {
    width: 35px; }
  #search-block-form input.form-submit {
    background: url('../images/search.png?1554720536') no-repeat center #449128;
    font-size: 0;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    vertical-align: top;
    border-color: #449128;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    #search-block-form input.form-submit:hover {
      background-color: #64b448;
      border-color: #64b448; }
  #search-block-form input {
    width: 100%;
    height: 35px;
    padding: 15px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }

.advertisement {
  text-align: center;
  margin: 20px 0; }

.breadcrumb {
  font-size: .75em;
  padding: 2px 0;
  margin: 0;
  display: inline-block;
  border-radius: 0; }
  .breadcrumb .breadcrumb-divider {
    display: none; }
  .breadcrumb ul, .breadcrumb ol {
    padding: 0;
    margin: 0; }
    .breadcrumb ul li, .breadcrumb ol li {
      display: inline-block;
      padding: 0 8px; }
      .breadcrumb ul li:after, .breadcrumb ol li:after {
        content: " >";
        padding-left: 15px; }
      .breadcrumb ul li:last-child:after, .breadcrumb ol li:last-child:after {
        display: none; }

.flexslider {
  border: 0;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }
  .flexslider .slider-caption {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    z-index: 99;
    text-align: left;
    line-height: 150%;
    padding: 20px; }
  .flexslider .slider-title {
    font-size: 2em;
    font-weight: 600;
    background: #494949;
    padding: 10px;
    color: #fff; }
  .flexslider .slider-description {
    display: inline-block;
    clear: both; }
  .flexslider .slides li {
    position: relative; }
    .flexslider .slides li:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      -moz-transition: all 2s;
      -o-transition: all 2s;
      -webkit-transition: all 2s;
      transition: all 2s; }
  .flexslider .flex-direction-nav {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%; }
    .flexslider .flex-direction-nav li {
      list-style: none; }
    .flexslider .flex-direction-nav a {
      font-size: 0;
      padding: 10px; }
      .flexslider .flex-direction-nav a:before, .flexslider .flex-direction-nav a:after {
        color: #3c5a6d; }
  .flexslider .flex-control-paging li a {
    width: 15px;
    height: 15px;
    display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    .flexslider .flex-control-paging li a.flex-active {
      background: #64b448; }
  .flexslider .flex-control-nav {
    bottom: 0; }

.navbar-toggle {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 5px 6px;
  z-index: 99;
  position: relative; }
  .navbar-toggle:focus {
    outline: none; }
  .navbar-toggle .fas {
    font-size: 1.5em;
    color: #000;
    border: 0;
    box-shadow: none; }

nav h2 {
  display: none; }

.menu-base-theme {
  background: none; }
  .menu-base-theme li {
    display: block;
    width: 100%;
    border: 0; }
    .menu-base-theme li a {
      text-transform: uppercase;
      font-family: "Source Sans Pro", sans-serif;
      color: #fff;
      line-height: 100%;
      padding: 20px;
      background: none;
      border: 0;
      border-bottom: 1px solid #4b4e53; }
      .menu-base-theme li a:hover, .menu-base-theme li a:focus, .menu-base-theme li a:active, .menu-base-theme li a.highlighted {
        background: #333;
        color: #fff;
        line-height: 100%;
        padding: 20px; }
      .menu-base-theme li a span.sub-arrow {
        border: 0;
        width: 20px;
        height: 20px;
        display: inline-block;
        top: 18px;
        font-size: 2rem;
        padding: 3px 0;
        right: 20px;
        left: auto; }
      .menu-base-theme li a.highlighted span.sub-arrow {
        font-size: 0; }
        .menu-base-theme li a.highlighted span.sub-arrow:after {
          font-size: 2rem;
          position: absolute;
          top: 0;
          right: 0;
          left: auto;
          z-index: 99;
          content: "-";
          width: 20px;
          height: 20px;
          color: #fff;
          line-height: 40%;
          padding: 2px 0; }
    .menu-base-theme li ul {
      position: static;
      background: none;
      border: 0; }

.expand-menu {
  position: relative; }
  .expand-menu:after {
    content: "";
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.95); }
  .expand-menu .navbar-toggle .fas {
    color: #fff; }
  .expand-menu .left-wrapper {
    left: 0; }
  .expand-menu .content-wrapper {
    padding-left: 300px;
    width: 100%; }

.region-footer-menu ul {
  margin: 10px 0;
  padding: 0; }
.region-footer-menu nav li {
  display: inline-block; }
  .region-footer-menu nav li a {
    display: block;
    padding: 2px 15px 2px 0; }

.user-menu {
  display: inline-block;
  text-align: right; }
  .user-menu ul.menu {
    margin: 0;
    padding: 0; }
    .user-menu ul.menu li {
      display: inline-block;
      padding-right: 10px; }
      .user-menu ul.menu li a {
        padding: 10px 0;
        display: block;
        line-height: 100%; }

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
  background: #ececec; }

.highlight {
  padding: 20px;
  background-color: #ffffff; }
  .highlight pre {
    border: 0;
    background: none; }

.bd-example-type h1, .bd-example-type h2, .bd-example-type h3, .bd-example-type h4, .bd-example-type h5, .bd-example-type h6 {
  margin: 0; }
.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee; }
.bd-example-type .table tr:first-child td {
  border-top: 0; }

.topwidget .fa, .topwidget .fas {
  font-size: 3em; }
.topwidget .topwidget-list .region .block {
  position: relative;
  padding: 20px;
  margin: 20px 0;
  border: 2px solid #eee; }
  .topwidget .topwidget-list .region .block p:last-child {
    margin: 0; }
.topwidget img {
  border: 1px solid #eee; }
.topwidget ul {
  margin: 0;
  padding: 0; }
  .topwidget ul li {
    list-style: none;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #dddddd42; }

.contact-message-feedback-form {
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 20px 30px; }

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea {
  width: 100%; }

.user-login-form,
.user-form,
.user-pass {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #e6e6e6;
  padding: 5px 20px;
  background: #fdfdfd; }
  .user-login-form .form-text,
  .user-login-form .form-email,
  .user-form .form-text,
  .user-form .form-email,
  .user-pass .form-text,
  .user-pass .form-email {
    width: 100%; }

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  color: #999;
  font-style: italic; }

.maintenance-page {
  background: url('../images/maintenance-bg.png?1554720536') #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  color: #000; }
  .maintenance-page .brand,
  .maintenance-page .name-and-slogan {
    display: inline-block;
    vertical-align: middle; }
  .maintenance-page .site-name a {
    color: #404040; }
  .maintenance-page .site-slogan,
  .maintenance-page .name-and-slogan {
    display: none; }

.maintenance-msg {
  margin: 20px 0;
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  background: #f2f4cf;
  background: rgba(242, 244, 207, 0.88);
  -moz-box-shadow: 5px 5px 0px #fff;
  -webkit-box-shadow: 5px 5px 0px #fff;
  box-shadow: 5px 5px 0px #fff; }
  .maintenance-msg h1 {
    text-transform: uppercase;
    font-weight: bold; }

.path-user .profile > div {
  display: inline-block; }
.path-user .profile .label {
  display: block;
  color: #333; }
